a {text-decoration: none;}
a:visited{color: inherit;}

body {background-color: hsl(208, 17%, 22%) ;}

body div.wrap {margin-left: 100px;
               margin-right: 10%;
               margin-top: 5%;
               background-color: hsl(0, 0%, 5%);
               color: hsl(221, 92%, 64%);
               border: none;
               padding: 10px;
               padding-left: 50px;
               border-radius: 2px;
               box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

body div.text {text-shadow: 2px 2px hsl(0, 0%, 23%);
          text-align: left;
          padding: 15px;
          font-size: 50px;
          position: relative;
}
body div.logo { margin: 5px;
           background-color: hsl(0, 0%, 0%);
           color: hsl(32, 86%, 48%); 
           padding-left: 0%;
           margin-top: 1%;
           margin-left: 50px;
           width: 680px;
           height: 100px;
           border:2px solid hsl(32, 93%, 48%);
           border-radius: 10px;
           font-family: fantasy;
           padding: 5px;
           box-shadow: 10px 10px 5px rgb(36, 36, 36);
}
body div.logo img {float: left;}

nav {margin-top: 20px;
     margin-left: 20px;       
}

.fundament { display: none;
             position: absolute;
             background-color: hsla(220, 3%, 17%, 0) ;
             color: hsl(32, 93%, 48%);
             border: 1px solid hsl(32, 93%, 48%);
             border-radius: 5px;
             margin-top: 20px;
}
          
nav .button { background-color: hsl(0, 0%, 7%);
              border: 1px solid hsl(0, 0%, 23%);
              color: hsl(32, 93%, 48%);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
}
nav .button:hover {border: 1px solid hsl(0, 0%, 100%);}
nav .button:focus .fundament { display: table;}
nav .fundament:hover { display: table;}
nav .fundament div:hover {background-color: hsl(0, 0%, 34%);}

main {}

main code { color: hsl(59, 93%, 48%);
       padding-left: 5px ; padding-right: 5px;}

main h2 { color: hsl(221, 92%, 64%);
       width: auto;
       padding-left: 10px;
       padding-right: 10px; 
       border: 1px solid  hsla(221, 92%, 64%, 0.397);
}

main div.content {
          margin-top: 50px; 
          margin-right: 150px;
          padding-left: 5px;
}
main div.indexcontent {margin-top: 50px; 
                       margin-right: 150px;
                       padding-left: 5px;
                       min-height: 800px;
}

main .button {  background-color: hsl(0, 0%, 7%);
                border: 1px solid hsl(0, 0%, 23%);
                color: hsl(32, 93%, 48%);
                margin: 4px 2px;
                border-radius: 5px;
                width: 150px;
                height: 25px;
                text-align: center;
                color:hsl(32, 93%, 48%);
                transform: rotateZ(-90deg);
                text-decoration: none;
                display: inline-block;
                position:fixed;
                left: 50px;
                top:50%;
                font-size: 15px;
                cursor: pointer;
                box-shadow: 0px 0px 0px;
}

.sidemap { display: none;
           width: 160px;
           position: absolute;
           left: 0px;
           top: 10px; 
           font-size: 15px;
           background-color: hsla(220, 3%, 17%, 0);
           border: 1px solid hsl(32, 93%, 48%); 
           color: hsl(32, 93%, 48%);
           float: left;
           transform: rotateZ(90deg);
           border-radius: 10px;
           opacity: 1;
}

.sidemap a {color: hsl(32, 93%, 48%);}

main .button:hover {border: 1px solid white;}
main .button:focus .sidemap { display: table;}
main .sidemap:hover { display: table;}
main .sidemap div:hover {background-color:hsl(0, 0%, 23%);
                         font-weight: bold;}


main a { color: hsl(0, 93%, 48%);
    text-decoration: none;    
}
main ul ul ul{list-style-type: none;}
  

footer {border: 1px solid hsl(32, 93%, 48%);
       margin-top: 20px;
       float:none;
       color: hsl(32, 93%, 48%);
}


